<form >
  <input type="number" [(ngModel)]="num1" name="num1">
  <input type="number" [(ngModel)]="num2" name="num2">
  <button (click)="onclicksum()">somar</button>
 <button (click)="onclicksub()">subtrair</button>
 <button (click)="onclickmult()">multiplicar</button>
 <button (click)="onclickdiv()">divisão</button>
 <button (click)="onclickresp()">apagar resultado</button>
  {{resp}}
  <div>{{ resp }}</div>
  <div *ngIf="historico.length > 0">
    <h2>Histórico:</h2>
    <ul>
      <li *ngFor="let item of historico">{{ item }}</li>
    </ul>
  </div>


</form>
